:root {
  font-family: 'Roboto Mono', monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@media (max-width: 768px) {
  .grid-container {
    border-radius: 0 !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 0 !important;
    width: 100% !important;
    padding: 20px 0 !important;
    box-shadow: none !important;
  }

  .header-reset-btn {
    padding: 8px 12px !important;
    font-size: 0.9em !important;
  }
}