name: NPM Publish

on:
  push:
    branches:
      - main

jobs:
  publish:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write # Needed for provenance if you opt into that later

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Dependencies
        run: npm ci

      - name: Verify Build & Test
        run: |
          npm run build
          npm test

      - name: Check if version changed
        id: check_version
        uses: PostHog/check-package-version@v2
        with:
          path: ./

      - name: Publish to NPM
        if: steps.check_version.outputs.is-new-version == 'true'
        run: npm publish --provenance
